# PostgreSQL Database Configuration
DATABASE_URL=postgres://postgres:postgres@localhost:5432/hemis_platform
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=hemis_platform

# Gemini API Configurations
GEMINI_API_KEY=
